<h2 class="page-header">About</h2>
<h4><em>
  This is the about page a description of your business and the website main goals and other exciting information about your company goes here...
</em></h4>
<br>
<h4><ul>
  <li>Business Goals</li>
  <li>Why was this site created?</li>
  <li>Something to excite the visitors</li>
</ul></h4>
<br>
<strong>
<p >This is a simple page but contains all the information your visitors should know about you before using your site can they trust you will deliver on your goals.<p>
</strong>