<div>
  <h2 class="page-header">Products</h2>
  <div class="col-md-6" *ngFor="let product of products">
    <div class="well">
      <div class="thumbnail">
        {{product.imageUrl}}
        </div>
      <div>
        <h4>{{product.name}}</h4>
      </div>
      <div>
        <p><strong>Price:</strong></p> €{{product.price}}
      </div>
      <br>
      <div>
        <p><strong>Description:</strong></p>{{product.description}}
      </div>
      <br>
      <div>
        <p><strong>Category:</strong></p> {{product.department}}
      </div>
      <div>
        <button type="submit" class="btn btn-success">
          Add <span class="glyphicon glyphicon-shopping-cart"></span>
        </button>
      </div>
    </div>                              
  <br><br>
  </div>
</div>


