<div *ngIf="user">
  <h2 class="page-header">Store management</h2>
  <div>
  <h3>Admin Profile</h3>
  <p-growl [value]="growlmsgs"></p-growl>
  <ul class="list-group">
    <li class="list-group-item">Name: {{user.name}}</li>
    <li class="list-group-item">Username: {{user.username}}</li>
    <li class="list-group-item">Email: {{user.email}}</li>
  </ul>
  </div>
  <br>
  <div>
  <h3>Inventory List</h3>
  <ul class="">
    <table class="table table-hover table-striped table-responsive table-condensed">
                <thead>
                    <tr>
                        <th class="col-xs-2">Product ID</th>
                        <th class="col-xs-2">Name</th>
                        <th class="col-xs-1">Price</th>
                        <th class="col-xs-2">Description</th>
                        <th class="col-xs-2">quantity</th>
                        <th class="col-xs-2">imageUrl</th>
                        <th class="col-xs-1">Department</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td>{{product._id}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.quantity}}</td>
                        <td>{{product.imageUrl}}</td>
                        <td>{{product.department}}</td>
                        <td><input type="button" value="delete" class="btn btn-danger" (click)="deleteProduct(product._id)"><td>
                    </tr>
                </tbody>
            </table>
  </ul>
  </div>
  <div class="col-sm-12">
  <h3>Inventory Management</h3>
  <!--Add Product-->
      <div class="col-md-5">
        <h4><strong>Add Inventory</strong></h4>
        <form (submit)="onAddProduct()">
        <div class="form-group">
          <label>Product Name</label>
          <input type="text" class="form-control" [(ngModel)]="name" name="name">
        </div>
        <div>
          <label>Price</label>
          <input type="text" class="form-control" [(ngModel)]="price" name="price">
        </div>
        <div>
          <label>Description</label>
          <input type="text" class="form-control" [(ngModel)]="description" name="description">
        </div>
        <div>
          <label>Quantity</label>
          <input type="text" class="form-control" [(ngModel)]="quantity" name="quantity">
        </div>
        <div>
          <label>Image</label>
          <input type="text" class="form-control" [(ngModel)]="imageUrl" name="imageUrl">
        </div>
        <div>
          <label>Department</label>
          <input type="text" class="form-control" [(ngModel)]="department" name="department">
        </div>
        <br>
        <input type="submit" class="btn btn-success" value="Add">
    </form>
    </div>
    <div class="col-md-5">
      <h4><strong>Update Products</strong></h4>
    </div>
    <!--Spacer for the footer do not remove-->
  <div class="col-md-12">
  <div class="spacer"></div>
  <div class="note">Note: Add, update and delete customers and admin also coming soon...</div>
  </div>



