<div class="jumbotron text-center">
  <h1>MEAN eCommerce App</h1>
  <p class="lead">Welcome to our site built using the MEAN stack</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3>Simple Checkout</h3>
    <p>View the products, add them to the cart and checkout providing credit card information to Stripe. Most companies dont want to be responsible for their users private information so they pass it to external companies that are prefessionals with securely storing this information.</p>
  </div>
  <div class="col-md-4">
    <h3>Access Control</h3>
    <p>An admin login and manage view has been added to allow an administrator to manage the website from a seperate account type.</p>
  </div>
  <div class="col-md-4">
    <h3>Integrated API's</h3>
    <p>Stripe API and Twilio API have been integrated to add more functionality and security to your site. Stripe is used for secure purchases. Twilio API is to provide the site with SMS functionality if it needed such as Two-step verification.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>A rock solid Node.js/Express server using Mongoose to organise models and query the MongoDB(NoSQL) database.</p>
  </div>
  <div class="col-md-4">
    <h3>Angular-CLI</h3>
    <p>Angular-CLI is used to generate components, services and much more! Local development server and easy compilation</p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>Full featured authentication using JSON web tokens. Login and store user data with Hashed passwords too.</p>
  </div>
</div>
