<Strong><em><h4>You have found an &#8496;&#8458;&#8458;. Please enjoy some of my favourite music &#9835; &#9834; Upon your discovery. &#9786;&#9760;</h4></em></Strong>
<em class="note">Note: There is more to come.</em>
<Strong>Happy Easter.<strong>
<div>
  <h3><a href="https://www.youtube.com/watch?v=zYpDJw7fThU">Blind Faith</a></h3>
    <div class="col-md-6">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/yAZrDkz_7aY" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-6">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Exb2x_BNcIk" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
<div>
  <h3><a href="">Rock n Roll</a></h3>
    <div class="col-md-6">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/-sUXMzkh-jI" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-6">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/JU5LMG3WFBw" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<div>
  <h3><a href="https://www.youtube.com/watch?v=tvTRZJ-4EyI">Hip Hop</a></h3>
    <div class="col-md-6">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/_JZom_gVfuw" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-6">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/fGeNDnYcQOA" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
<div class="spacer">
</div>
